<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- <img class="city-bg" src="{{city_pic}}"/> --}}
    <div class="fullscreen-bg">
        <video loop muted autoplay class="city-bg_vid">
            <source src="{{city_pic}}" type="video/mp4">
        </video>
    </div>
</body>
</html>