<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- <img class="city-bg" src="{{city_pic}}"/> --}}
    <div class="fullscreen-bg">
        <video loop muted autoplay class="city-bg_vid">
            <source src="{{city_pic}}" type="video/mp4">
        </video>
    </div>
    {{!-- <p class="in">in</p> --}}
    <container class="picked-city_container">
    <p class="picked-city">{{city_name}}</p>
    <p class="share_city" id="button">Share with your friends</p>
    </container>
    <div class="bg-modal">
        <div class="modal-content">
            <div class="close">+</div>
            <form>
                <input class="modal-input" type="text" placeholder="Email">
                <input class="modal-input" type="password" placeholder="password">
                <a href="/invitation" class="button">LOG IN</a>
                <button id="submit" type="submit"><p>Join JOIN</p></button>
            </form>
        </div>
    </div>
</body>
</html>