<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    {{!-- <p class="share"><a href="/invitation" id="button">Share with your friends</a></p> --}}
    {{!-- <button class="share" id="button">Share with your friends</button> --}}
    <p class="share" id="button">Share with your friends</p>
    <div class="bg-modal">
        <div class="modal-content">
            <div class="close">+</div>
            <form>
                <input class="modal-input" type="text" placeholder="  Email">
                <input class="modal-input" type="password" placeholder="  Password">
                <a href="/invitation" class="button">LOG IN</a>
                <button id="submit" type="submit"><p>Join JOIN</p></button>
            </form>
        </div>
    </div>
    

    <container class="container-destinations">
    <ul class="destinations">
        {{#matchingDestinations}}
        <a href="/destinations/{{.}}"><li class="city-container"><p class="city">{{.}}</p></li></a>
        {{/matchingDestinations}}
    </ul>
    </container>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>