<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <container class="scroll-destinations">
    <ul>
        {{#matchingDestinations}}
        <li><p>{{.}}</p></li>
        {{/matchingDestinations}}
    </ul>
    </container>
</body>
</html>