<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if error}}
    <p class="error">Please select at least two ddeparture cities</p>
    {{/if}}
   {{!--  <container class="desc-container">
    <p class="description-text">Enter up to 5 departure cities and find the place where to reunite with your friends. </p>
    </container> --}}
    <form method="POST">
        <input id="date" type="date" placeholder="Choose a departure date">
        {{!-- <p>Enter up to 5 depature cities here</p> --}}
        <input id="departure1" placeholder="DEPARTURE 1" name="dep1">
        <input id="departure2" placeholder="DEPARTURE 2" name="dep2">
        <input id="departure3" placeholder="DEPARTURE 3" name="dep3">
        <input id="departure4" placeholder="DEPARTURE 4" name="dep4">
        <input id="departure5" placeholder="DEPARTURE 5" name="dep5">
        <button id="submit" type="submit"><p>CHECK DESTINATIONS</p></button>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>