<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input id="date" type="date" placeholder="Choose a departure date">
        {{!-- <p>Enter up to 5 depature cities here</p> --}}
        <input id="departure" placeholder="DEPARTURE">
        <input id="departure" placeholder="DEPARTURE">
        {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
        <button id="submit" type="submit">CHECK DESTINATIONS</button>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>