<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="">
        <input placeholder="Your Name / Surname" name="sender-name">
        <input id="email1" placeholder="Your EMAIL" name="dep1">
        <input id="email2" placeholder="EMAIL 2" name="dep2">
        <input id="email3" placeholder="EMAIL 3" name="dep3">
        <input id="email4" placeholder="EMAIL 4" name="dep4">
        <input id="email5" placeholder="EMAIL 5" name="dep5">
        <button id="submit" type="submit"><a href="/login">SEND EMAIL</a></button>
    </form>
</body>
</html>