<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="">
        <input id="email2" placeholder=" FRIEND EMAIL 1" name="dep2">
        <input id="email3" placeholder=" FRIEND EMAIL 2" name="dep3">
        <input id="email4" placeholder=" FRIEND EMAIL 3" name="dep4">
        <input id="email5" placeholder=" FRIEND EMAIL 4" name="dep5">
        <button id="submit" type="submit"><a href="/login" class="button">SEND INVITATION</a></button>
    </form>
</body>
</html>