html {
    width: 100%;
    height: 100%;
    /*     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; */
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("/caffe_3seats.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* .bg-pic {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
} */

a {
    text-decoration: none;
    color: rgb(248, 205, 10);
}

header {
    height: 150px;
    background-color: rgb(255, 255, 255, 0.6);
    width: 100%;
}

footer {
    height: 50px;
    background-color: rgb(255, 255, 255, 0.6);
    width: 100%;
    position: absolute;
    bottom: -2%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20%;
    left: 22%;
}

input {
    margin: 5px;
    height: 35px;
    width: 220px;
    border-radius: 4px;
    border: 0;
    background-color: rgb(255, 255, 255, 0.5);
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 600;
    display: flex;
}

::placeholder {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    /* color: rgb(199, 0, 57); */
    letter-spacing: 0.2em;
    display: flex;
}

button,
.button {
    margin: 5px;
    height: 35px;
    width: 227px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    /* background-color: rgb(199, 0, 57); */
    background-color: rgb(255, 195, 0);
    border: 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button > p,
.button {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: white;
    top: 50%;
    letter-spacing: 0.2em;
    display: flex;
}

.join {
    font-family: "Cookie", cursive;
    letter-spacing: 0.01em;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-destinations {
    height: 82%;
    width: 100%;
    overflow: scroll;
    display: inline-block;
    scrollbar-width: none;
}

.share {
    font-family: "Cookie", cursive;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    top: 10%;
    right: 10%;
    cursor: pointer;
}

.share:hover {
    color: rgb(255, 195, 0);
    transform: scale(1.07);
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-input {
    width: 50%;
    display: block;
    margin: 15px auto;
    background-color: rgb(255, 255, 255, 0.5);
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.destinations {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.city-container {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 195, 0);
    display: flex;
    justify-content: center;
    margin: 15px;
    cursor: pointer;
}

.city-container:hover {
    background-color: rgb(255, 195, 0);
    transform: scale(1.1);
}

.city {
    font-family: "Cookie", cursive;
    font-size: 40px;
    color: rgb(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
}

.description-text {
    max-width: 300px;
    max-height: 200px;
    font-family: "Cookie", cursive;
    font-size: 35px;
    font-weight: 100;
    color: rgb(255, 255, 255, 0.8);
}

.city-search {
    height: 20px;
    width: 210px;
    border: 1px rgb(255, 195, 0);
    padding: 5px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.1em;
    color: white;
    letter-spacing: 0.1em;
}

.city-search:hover {
    background-color: rgb(255, 195, 0, 0.5);
    cursor: pointer;
}

.city-bg_vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* overflow: hidden; */
    z-index: -100;
}

.no-match {
    height: 30px;
    width: 220px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: white;
    background-color: rgb(199, 0, 57, 0.7);
    cursor: pointer;
}

/* SINGLE CITY PAGE // destinations/:city */

.picked-city_container {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.picked-city {
    font-family: "Cookie", cursive;
    font-size: 170px;
    color: rgb(255, 255, 255, 1);
    margin: 0;
}

.share_city {
    font-family: "Cookie", cursive;
    color: rgb(255, 255, 255, 1);
    font-size: 30px;
    font-weight: normal;
    position: relative;
    cursor: pointer;
    height: 50px;
    margin: 0;
}

.share_city:hover {
    /*  height: 82%;
    width: 100%; */
    color: rgb(255, 195, 0);
    transform: scale(1.1);
}

/* END !!! SINGLE CITY PAGE // destinations/:city */

/* .in {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: rgb(248, 205, 10);
} */
